<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>

</head>
<body
    style="font-family: Roboto,Arial,Helvetica,sans-serif; margin:0; padding:0; font-size:14px; text-align: justify;color: #353f99">
<table width="100%" border="0" cellpadding="0" cellspacing="0">
    <tbody>
    <tr>
        <td align="center">
            <p style="margin:0px; font-size: 13px;font-family: 	Roboto,Arial,Helvetica,sans-serif;padding: 10px;">
                Nếu không xem được thư điện tử này. Vui lòng xem
                <a href="https://vnconference.com/backup/20210910/letter.html"
                   style="text-decoration: underline; color: #c60d42;">tại đây</a>
                <br>
            </p>
            <table background="https://vnconference.com/backup/20210910/images/full_temp.png" class="wMain" width="650"
                   border="0" cellpadding="0" cellspacing="0" align="center" style=";background-size: 650px 555px;">
                <tbody>


                <tr>
                    <td style="width: 650px; height: 555px; vertical-align: top;">
                        <p style="padding-top:290px; padding-left:540px">
                            <a style="" href="https://vnc.link/10Sep21AST.dangky" target="_blank">
                                <img style="width:110px;"
                                     src="https://vnconference.com/backup/20210910/images/btn_clickhere.png" alt="">
                            </a>
                        </p>


                    </td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>


</body>
</html>
