<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body style="margin: 0">

   <!-- <div class="container" align="center" style="font-size: 0; margin: 0;  -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;">
        <div class="col-1">
            <img width="650px" src="https://feceurgo.sirv.com/html3/1.jpg" alt="">
        </div>
        <div class="col-2">
            <img width="650px" src="https://feceurgo.sirv.com/html3/a2.jpg" alt="">
        </div>
        <div>
            <img width="650px" src="https://feceurgo.sirv.com/html3/a3.jpg" alt="">
        </div>
        <div>
            <img width="650px" src="https://feceurgo.sirv.com/html3/a4.jpg" alt="">
        </div>
        </div>-->
    <div align="center">
        <div class="container" align="center" style="font-size: 0; margin: 0;  -webkit-border-horizontal-spacing: 0;
        -webkit-border-vertical-spacing: 0;background-image: url(https://feceurgo.sirv.com/html3/q1.jpg);background-size: 650px 555px;width: 650px;height: 555px ">
            <div style="padding-top: 305px;padding-left: 540px">
                <a style="" href="https://vnc.link/10Sep21AST.dangky" target="_blank">
                <img width="105px" src=" https://feceurgo.sirv.com/html3/q2.jpg" alt="">
                </a>
            </div>
        </div>
    </div>




</body>
</html>
