.sb-sidenav-menu-heading li {
    position: relative;
    float: left;
    list-style: none;
    margin: 0;
    padding: 0;
}

.sb-sidenav-menu-heading li a {
    width: 100px;
    height: 30px;
    display: block;
    text-decoration: none;
    text-align: center;
    line-height: 30px;
    padding-top: 10px;
    color: #c2c1c1;
}

.sb-sidenav-menu-heading {
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    top: 0;
    background: #0a58ca;
}

.sb-sidenav-menu-heading ul {
    padding: 0;
    margin: 0;
    margin-block-start: 0;
    margin-block-end: 0;
    padding-inline-start: 0;
}

body {
    margin: 0;
}

.sb-sidenav-menu-heading-v2 {
    position: relative;
    float: right;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu-2 {
    padding-left: 30px
}

.menu-v2-1 {
    white-space: nowrap
}

.sb-sidenav-menu {
    display: flex;
    margin-top: 20px;
}

.search-box {
    width: 60%;
    display: flex;
    height: 44px;
    position: relative;
    padding: 0;
    flex-shrink: 0;
    -webkit-box-flex: 0;
    box-sizing: border-box;
    flex-grow: 0;
    border-radius: 3px;
}

.search-box-background {
    background: #c2c1c1;
    display: flex;
    align-items: center;
    width: 100%;
    transition: all 0.3s;
    border-radius: 7px;

}

.search-box-wrapper {
    font-family: "Open Sans",sans-serif!important;
    font-size: 1rem;
}
.box-input{
    border: 1px solid;
    border-radius: 5px;
}
a{
    text-decoration: none;
    color: black;
}
.logo-company{
}
